<mat-card class="sign-up-form">
  <form>
    <mat-grid-list cols="2" rowHeight="3:1">
      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="First name">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="Last name">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="1" rowHeight="6:1">
      <mat-grid-tile>
        <mat-form-field class="full-width">
          <input matInput placeholder="Email">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="full-width">
          <input matInput placeholder="Password">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <div class="btn-sign-up"> 
          <button mat-raised-button >Sign up</button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</mat-card>