.sign-in-form {
  min-width: 150px;
  max-width: 400px;
  width: 100%;
  margin: 100px auto;
}

.btn-sign-in{
 text-align: center;
}

.not-acount{
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}